In [2]:
pip install pyspark

Collecting pysparkNote: you may need to restart the kernel to use updated packages.

  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845518 sha256=055cd28b152d5efca99050a89f4018d853112136ccbdb73b223f824c4e607bf2
  Stored in directory: c:\users\akute\appdata\local\pip\cache\wheels\43\dc\11\ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [11]:
lst=[1,2,3,4,5,6,8]
lst

[1, 2, 3, 4, 5, 6, 8]

In [7]:
evenlst =[]
for each in lst:
    if each%2 == 0:
        evenlst.append(each)
print(evenlst)

[2, 4, 6]

In [12]:
evenlst=[each for each in lst if each%2 == 0]
print(evenlst)

[2, 4, 6, 8]

In [13]:
class myfirst:
    x=5

In [14]:
obj = myfirst()
obj.x

5

In [19]:
#find volwels from str
str="apeksha"
vol=[]

for each in str:
    if each in "aeiouAEIOU":
        vol.extend(each)
print(set(vol))

{'e', 'a'}

In [25]:
#find odd number 
num_lst=[1,2,3,4,5]

def odd_function(num_lst):
    lst=[]
    for each in num_lst:
        if each%2 != 0:
            lst.append(each)
    return lst
lst=odd_function(num_lst)
lst

[1, 3, 5]

In [29]:
for each in range(1,4):
    print(each)

1
2
3

In [30]:
type(range(5))

range

In [31]:
if __name__ = "__main__":

NameError: name 'xrange' is not defined

In [32]:
import json

In [41]:
d1={'name':'apeksha','company':'sears'}
print(d1)

{'name': 'apeksha', 'company': 'sears'}

In [47]:
str1=json.dumps(d1)

In [48]:
str1

'{"name": "apeksha", "company": "sears"}'

In [49]:
j1=json.loads(str1)
j1["name"]

'apeksha'

In [1]:
from pyspark.sql import SparkSession

ModuleNotFoundError: No module named 'pyspark'

In [ ]:
spark=SparkSession.builder.getOrCreate()

In [ ]:
df = spark.read.json("filepath")

In [ ]:
df.printSchema()

In [ ]:
df.createOrReplaceTempView("df")

In [ ]:
spark.sql("select * from df").show()